orxe-input {
  background-color: var(--neutral);
  --input-label-font-weight: var(--fw-sb);
}

orxe-dropdown {
  background-color: var(--neutral);
  --dropdown-label-font-weight: var(--font-weight-semi-bold);
}
