@import "style.scss";
:host {
  .timeline-wrapper {
    flex-direction: row;
    .timeline {
      justify-self: center;
      width: 24px;
      text-align: center;
      position: relative;
      .animation-class {
        position: absolute;
        top: -13px;
        left: -12px;
      }
      .timeline-circle {
        border-radius: 50%;
        background-color: var(--primary);
        color: white;
        padding: 2px 2px;
        .icon {
          display: inline-block;
          vertical-align: middle;
        }
      }
      hr {
        height: 100%;
        width: 2px;
        margin-top: -3px;
        margin-bottom: var(--spacing-00);
        left: 41%;
        top: 17px;
        position: absolute;
        background-color: var(--primary);
        border: none;
      }
    }
    .timeline-steps {
      flex-direction: column;
      h3 {
        font-size: var(--subheading-font-size);
        margin: var(--spacing-00);
      }
      .primary {
        color: var(--primary);
      }
      .secondary {
        color: var(--secondary);
      }
      .tertiary {
        color: var(--tertiary);
      }
      .error {
        color: var(--error);
      }
      .neutral {
        color: var(--neutral);
      }
      .header {
        margin-top: var(--spacing-00);
      }
    }
  }
}

#slow-3 {
  animation: oval3efffect 1s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#slow-4 {
  animation: oval4efffect 1s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes oval3efffect {
  from {
    opacity: 1;
    filter: url("#filter0_s");
    -webkit-filter: url("#filter0_s");
  }
  to {
    opacity: 0;
    filter: url("#filter0_s");
    -webkit-filter: url("#filter0_s");
  }
}

@keyframes oval4efffect {
  from {
    opacity: 1;
    filter: url("#filter1_s");
    -webkit-filter: url("#filter1_s");
  }
  to {
    opacity: 0;
    filter: url("#filter1_s");
    -webkit-filter: url("#filter1_s");
  }
}
