<ng-template ngFor [ngForOf]="viewModel.productsList" let-item>
  <orxe-card
    class="orxe-grid orxe-card-style mb-8"
    role="region"
    attr.aria-labelledby="{{ item?.productType }}{{
      item?.productId
    }}-confimation"
    *ngIf="!item?.settings; else dynamicComponentBlock"
  >
    <div class="col-grid-full txt--lg-sb-lg confirm-product--placeholder">
      {{ item?.productType | titlecase }} Product Component Placeholder
    </div>
  </orxe-card>
  <ng-template #dynamicComponentBlock>
    <div class="mb-8 txt--lg-sb-lg confirm-product--placeholder">
      <orxe-dynamic-element-loader
        [orxe-id]="item?.settings?.resources?.tagName"
        [module-url]="item?.settings?.resources?.modulePath"
        [url]="item?.settings?.resources?.path"
        [tag]="item?.settings?.resources?.tagName"
        [props]="item | dynamicComponentProps: item?.settings?.input"
        [events]="item?.settings?.events?.toString()"
        (status)="status($event)"
        (loaded)="productLoadedEvent($event, item)"
        (onClickOfLinks)="onClickOfLinksEvent($event)"
      >
        <div slot="loader">
          <app-skeleton-loader
            [dynamicSkeleton]="'product-detail'"
          ></app-skeleton-loader>
        </div>
        <div slot="error"></div>
      </orxe-dynamic-element-loader>
    </div>
  </ng-template>
</ng-template>
