.container__addon_product {
  .container__addon_product__heading {
    font-size: var(--subheading-secondary-font-size);
    line-height: 20px;
    font-weight: var(--font-weight-semi-bold);
    padding-bottom: var(--spacing-06);
  }
}
