@import "./styles/style.scss";

.container__payment-summary-section {
  font-size: var(--body-font-size);
  color: var(--primary-text);

  .container__payment-summary-heading {
    //line-height: 16px;
    padding: var(--spacing-05) 0;
    text-align: center;
    background-color: var(--global-bg)  ;
  }

  .payment-info {
    color: var(--secondary-text);
  }
}
.trip-total--alignment {
  padding-top: var(--spacing-05);
}
